@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
*
{
   margin: 0;
   padding: 0;
   font-family: 'Major+Mono+Display', Arial, Helvetica, sans-serif;
}
body
{
   background: #000 url(bg1.jpg);
   background-attachment: fixed;
   background-blend-mode: hard-light;
   background-repeat: no-repeat;
   background-size: cover;
}
div p
{
   position: absolute;
   right: 175px;
   bottom: 05px;
   font-size: 1em;
   color: #000;
   display: block;
}
div a
{
   position: absolute;
   right: 10px;
   bottom: 5px;
   color: #00ddff;
   font-size: 1em;
   text-decoration: none;
   display: block;
}
.container
{
   position: absolute;
   top: 80px;
   left: 100px;
   right: 100px;
   bottom: 80px;
   background: url(bg1.jpg);
   background-attachment: scroll;
   display: flex;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 50px 50px rgba(0, 0, 0, .5),
               0 0 0 100px rgba(0, 0, 0, 0.1);
}
.container h2
{
   text-align: center;
   font-size: 7em;
   line-height: 0.7em;
   color: #333;
   margin-top: -80px;
}
.container h2 span
{
   display: block;
   font-weight: 300;
   letter-spacing: 6px;
   font-size: 0.3em;
}
.countdown
{
   display: flex;
   margin-top: 50px;
}
.countdown div
{
   position: relative;
   width: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
   background: #333;
   color: #fff;
   margin: 0 15px;
   font-size: 3em;
   font-weight: 500;
}
.countdown div::before
{
   content: '';
   position: absolute;
   bottom: -30px;
   left: 0;
   width: 100%;
   height: 30px;
   background: #b8200f;
   color: rgb(250, 225, 222);
   font-size: 0.35em;
   line-height: 35px;
   font-weight: 300;
}
.countdown div#day::before
{
   content: 'NGÀY';
   
}
.countdown div#hour::before
{
   content: 'GIỜ';

}
.countdown div#minute::before
{
   content: 'PHÚT';

}
.countdown div#second::before
{
   content: 'GIÂY';

}
@media only screen and (min-width: 400px) {
     div p, div a{
        font-size: 2em;
   }
}
